{% extends 'dentist/_layout.html' %}

{% block dentist_content %}
    <h1 class="title">index</h1>

    <div class="columns">

        <div class="column">
            <div class="box" style="background-color: grey;">
                auto
            </div>
        </div>

        <div class="column">
            <div class="box" style="background-color: white;">
                auto
            </div>
        </div>

        <div class="column">
            <div class="box" style="background-color: grey;">
                auto
            </div>
        </div>

    </div>

    <div class="box" style="background-color: pink;">
        box
    </div>
{% endblock %}