{% extends 'dentist/_layout.html' %}

{% block dentist_content %}
    <h1 class="title">service list</h1>

    <div class="columns is-multiline">

        {% for service in object_list %}
            <div class="column is-4">

                <a href="{{ service.get_absolute_url }}">
                    <img src="https://picsum.photos/300/300?{{ forloop.counter }}" alt="">
                    <div>{{ service }}</div>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock %}