{% extends 'dentist/_layout.html' %}

{% block dentist_content %}

        <div class="content full-screen title-image about-image">
            <img src="/media/{{ page.img }}" alt="">
        </div>

<div class="content">
    <div id="content-page" class="class-about">

        <div class="team-member-info">
            {% for member in team_member %}
            <div class="team-member-row">
                <div>
                    <img src="{{ member.img.url }}" alt="">
                </div>

                <div>
                    <h2 class="color-aqua">{{ member.name }}</h2>
                    <p>Why dentistry?</p>
                    <p>{{ member.description }}</p>
                </div>
            </div>
            {% endfor %}

        </div>


        <h2 class="color-aqua head">What sets us apart?</h2>
        <div class="column-about">
            <div>
                <p class="color-aqua">Dentistry for the whole family</p>
                <p>Kids, teens, adults — we offer clinically excellent treatment for all ages.</p>
            </div>
            <div>
                <p class="color-aqua">Modern, seamless treatments</p>
                <p>High-tech care whether your teeth need a polish or a total smile makeover.</p>
            </div>
            <div>
                <p class="color-aqua">Fun and positive environment</p>
                <p>Relax, look good, feel good. (And be sure to say hello to our dental office doggo, Gizmo!)</p>
            </div>
            <div>
                <p class="color-aqua">Patient comfort is #1</p>
                <p>We excel at dental excellence — enjoy a safe and comfortable visit.</p>
            </div>
            <div>
                <p class="color-aqua">Trust-based care</p>
                <p>Our relationship-driven approach allows us to focus on what matters most – you!</p>
            </div>
        </div>

    </div>
</div>


{% endblock %}