{% extends 'dentist/_layout.html' %}

{% block dentist_content %}


<div class="content full-screen center">
    <h1>Contact Us</h1>
    <p>We would love hearing from you and moreover meeting you in person.</p>
    <p>Below you can find all contact details. See you soon!</p>
</div>

<div class="content">
    <div id="content-page" class="contacts-content-page">

        <div>
            <img src="/media/phone-call_10484800.svg" alt="">
            <h3>Contact</h3>
            <a href="tel:+420-770-456-789"><p>+ 420 770 456 789</p></a>
            <a href="tel:+420-770-123-456"><p>+ 420 770 123 456</p></a>
            <a href="mailto:reception@dentist.com"><p>reception@dentist.com</p></a>
        </div>
        <div>
            <img src="/media/clock-seven_7602694.svg" alt="">
            <h3>Working Hours</h3>
            <p>Monday – Friday 9:00 – 21:00</p>
            <p>Saturday 9:00 – 18:00</p>
        </div>
        <div>
            <img src="/media/map-pin_9239326.svg" alt="">
            <h3>Location</h3>
            <a href="https://maps.app.goo.gl/ncaUaNkZDCjDcmXi6"><p>Bělehradská 479/114</p></a>
            <a href="https://maps.app.goo.gl/ncaUaNkZDCjDcmXi6"><p>120 00 Praha 2-Vinohrady</p></a>
            <p class="bold">Parking spaces available</p>
        </div>
        
    </div>
</div>

{% endblock %}