
:root {
	--block: 60rem;
    --headpadding: 10rem;
    --text-lite: 0.632rem;
    --text: 0.947rem;
    --h3: 1em;
    --h2: 1.5em;
    --h1: 2em;
	--p: 16px;

	--scale: 19px;

	--aqua: #1fb8b8;
	/* --aqua-white: #e8f4f4; */
	--aqua-white: rgba(137,207,220,255);
	--graphite: rgb(25, 25, 25);
    --gray: #828282;
	--white: #FFFFFF;
	--white-transparent: #ffffff8e;
	--sun: #D3AC2B;
	--dark-orange: #d67566;
}


/* TEST */

.center {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--aqua-white) !important;
}

.column-4 > .column.center > p {
	color: var(--graphite) !important;
}

.content.full-screen.center {
	margin-top: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	color: var(--white);
}

.center > p {
	margin: 0 0 10px 0;
	text-transform: capitalize;
}

.greybox-image {
	background-color: var(--white);
	height: 200px;
}

.team-member-row div .greybox-image {
	height: auto;
}

.column-4 :nth-child(4) .greybox-image {
	border-radius: 0 45px 0 0;
	overflow: hidden;
}

.column-4 .column-last .greybox-image {
	border-radius: 0 45px 0 0;
	overflow: hidden;
}

/* END TEST */

#page {
	min-height: 80vh;
}

#map {
	height: 400px;
}

.map {
	width: 100%;
	height: 450px;
	padding-bottom: 100px;
}

* {
	text-decoration: none;
}

h1 {font-size: var(--h1);}

h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

p {font-size: var(--p);}

.text-center {
	text-align: center;
}

.div-center {
	margin: 0 auto;
}

a {
	transition: .5s;
	color: var(--graphite);
}

a:hover {
	color: #1fb8b8;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--scale);
	color: var(--graphite);
	scrollbar-width: thin;
	padding: 0;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
}

body {
	margin: 0;
}

.wrapper {
	position: relative;
	width: 100%;
}

.wrapper.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.header-nav {
	height: 3.6rem;
}

.wrapper.footer {
	color: #fff;
}

footer > .content {
	margin: 0 auto;
}

.wrapper.header .content {
	min-height: 3.6rem;
}

.wrapper.header + .wrapper {
	margin-top: 5.2rem;
}

#header > .content {
    padding: 0.8rem;
    margin: 0 auto;
}

.content {
	display: flex;
	justify-content: space-between;
	width: var(--block);
	margin: 0 auto;
	margin-top: 100px;
}

#content-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--block);
	margin: 0.85rem auto;
}

.green {
	width: 100%;
	background-color: var(--aqua-white);
	border-bottom: 1px var(--white) solid;
	margin: 0;
}

.green h1 {
	color: var(--white);
}

.green > .content {
	margin-bottom: 0;
}

.content.full-screen.title-image.about-image {
	margin: 0;
}

.content.full-screen.title-image.about-image > img {
	width: 100%;
	height: 100%;
}


.content.full-screen.title-image.home-image {
	margin: 0;
}


.content.full-screen.title-image.home-image > img {
	min-width: 100%;
	height: 90vh;
    object-fit: cover;
}

.home-column {
	height: 100%;
}



.header-nav {
	display: flex;
	align-items: center;
	gap: 2rem;
}

#dentist_content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: var(--block);
	height: auto;
	margin: auto;
	margin-top: var(--headpadding);
	padding: 0rem 1.3rem 20rem 1.3rem;	
}

#path {
	display: flex;
	margin-top: -100px;
}

.header-blur {
	background-color: var(--white-transparent);
	transition: 0.23s ease-in-out;
	backdrop-filter: blur(.3rem);
	/* border-radius: 1.3rem; */
}

.full-screen {
	width: 100%;
	/* background-color: var(--gray); */
}

/* .title-image {
	height: 80vh;
} */

.column-4, .column-2 {
	display: flex;
	flex-direction: row;
	border-radius: 0 45px 0 45px;
	overflow: hidden;
}

.column-4 {
	flex-wrap: wrap;
	gap: 4rem 1rem;
	justify-content: space-between;
}

.column-2 {
	margin-top: 2rem;
	justify-content: space-around;
	border: 1px solid var(--gray);
}

.column-1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 400px;
	width: 100%;
}

.column-4 > .column {
	flex: 1 0 21%;
	text-align: center;
	padding: 10px;
	/* max-width: 20%; */
	/* background-color: var(--gray); */

}

.column-4 > .column p {
	text-transform: capitalize;
}

.column-2 > .column {
	text-align: center;
	padding: 10px;
	width: 50%;
	height: 400px;
	background-color: var(--gray);
	color: var(--white);
}

.column-2 > .column.center  {
	display: flex;
	align-items: center;
}

.column-2 > .column.column-image {
	background-color: var(--white);
	margin: 0;
	padding: 0 !important;
}

.column-image > img {
	margin: 0;
	padding: 0;
	width: auto;
	height: 100%;
    object-fit: cover;

}

/* TEST */

.main-detail > .column-2.table > .column {
	border-radius: none;
	display: table-cell;
	vertical-align: middle;
	row-gap: 50px;
	background-color: transparent;
	color: var(--graphite);
	padding: 0 1%;
}

.main-detail > .column-2 > .column p, .main-detail > .column-2 > .column h3 {
	margin-top: 50px;
}

.main-detail > .column-2 > .column h1 {
	color: var(--white);
}

.main-detail > .column-2.table {
	border: 3px var(--aqua-white) solid;
	display: table;
}

.column.blue {
	background-color: var(--aqua-white) !important;
}


.column-2 > .column > .greybox-image {
	height: 100%;
	width: 100%;
}

.team-member-info {
	display: flex;
	flex-direction: column;
}

.team-member-info > div {
	margin-top: 50px;
	/* background-color: #D3AC2B; */
	text-transform: capitalize;
}

.team-member-row {
	display: flex;
	gap: 2%;
	flex-direction: row;
	border-top: 1px var(--graphite) solid;
}

.team-member-row > :nth-child(1) {
	flex: 0 0 20%;
}

.team-member-row > :nth-child(2) {
	flex: 1 0 78%;
}

.team-member-row > div > img {
	width: 100%;
}

/* ------------------------------------------------ */

.color-aqua {
	color: var(--aqua);
}

.column-about > div > p {
	margin: 10px 0 10px 0;
}

.column-about > div {
	margin: 10px 0;
}

.column-about > div > .color-aqua {
	font-size: 20px;
}

h2.color-aqua.head {
	margin: 100px 0 60px 0;
}

.column-about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 40px;
	text-transform: capitalize;
}

/* ----------------------------------- */

.contacts-content-page {
	display: flex;
	flex-direction: row !important;
	justify-content: space-around !important;
	text-align: center;
}

.contacts-content-page > div {
	max-width: 20%;
}

.contacts-content-page p {
	margin: 10px 0;
}

.contacts-content-page :nth-child(1) p {
	text-transform: lowercase;
}

.contacts-content-page :nth-child(2) p, .contacts-content-page :nth-child(3) p {
	text-transform: capitalize;
}

.contacts-content-page .bold {
	font-weight: bold;
}

.class-about > .column-4 {
	background-color: none !important;
}

.class-about .column-about {
	margin-bottom: 50px;
}

.contacts-content-page img {
	width: 40%;
	margin-bottom: 20px;
	filter: invert(82%) sepia(56%) saturate(5589%) hue-rotate(134deg) brightness(95%) contrast(76%);
}

.home-column-2 {
	display: flex;
	border: 3px var(--aqua-white) solid;
}

.home-column-2 div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home-column-2 img {
	height: 110%;
    object-fit: fit;
}

.home-column-2 .column.center.home-column {
	display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav img{
	height: 3.6rem;
}

.logo img {
	transition: .5s;
}

a.logo img:hover {
	fill: var(--aqua);
}
